/* Контрол с общими действиями */
.BasketWithLink{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}


.BasketWithLink-total{
    font-weight: bold;
    margin: 0 15px;
}

.BasketWithLink a {
    color: #0087E9;
}