.CommentForm {  
    
}

.CommentForm-text {
    width: 100%;
    height: 80px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid #666666;
    font-size: 14px;
}

.CommentForm-link {    
    font-size: 16px;
}

.CommentForm-submit,
.CommentForm-cancel {
    border: 1px solid #767676;
    border-radius: 2px; 
    cursor: pointer;
    font-size: 13px;
}

.CommentForm-cancel {
    margin-left: 10px;
}

.CommentForm-title {
    font-size: 12px;
    font-weight: 700;
}