.CommentForm {
  margin-top: 30px;
}

.CommentForm-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CommentForm-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.CommentForm-textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  min-height: 76px;
}

.CommentForm-submitWrapper {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.CommentForm-submit,
.CommentForm-cancel {
  cursor: pointer; 
  padding: 1px 10px;
}