.pagination {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
}
.selected {
  color: #ffffff;
  width: 20px;
  background: #0087e9;
}
.selectable {
  margin: 0 2px 0 2px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
