/*Пагинация*/
.Pagination {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 21px;
  margin: 0;
  list-style-type: none;
}

.Pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  margin: 22px 0;
  font-size: 16px;
}

.Pagination-item:not(.Pagination-item_empty) {
  cursor: pointer;
}

.Pagination-item:hover:not(.Pagination-item_empty) {
  background-color: #E1E1E1;
}

.Pagination-item_current {
  background-color: #0087E9;
  color: #FFFFFF;
}

.Pagination-item_current:hover:not(.Pagination-item_empty) {
  background-color: #0087E9;
  opacity: 0.7;
}
