.MenuRegister {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 0;
    margin: 0;
    background-color: #fff;
}

.MenuRegister-profile {
    padding-right: 20px;
    font-size: 13px;
    color: #0087E9;
    display: flex;
    align-items: center;
}

.MenuRegister-btn {
    height: 21px;
}

.MenuRegister-btn a{
    background: #EFEFEF;
    color: black;
    border: 1px solid #767676;
    border-radius: 2px;
    padding: 4px 4px 2px 4px;
    font-size: 13px;
    text-decoration: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

