.LoginCard {
    padding: 20px 35px;
}

.LoginCard-prop {
    margin: 20px 0;
    justify-content: flex-start;
}
.LoginCard-error {
    margin: 20px 0;
    justify-content: flex-start;
    color: red;
}

