/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    font-size: 18px;
}

.BasketSimple-total{
    font-weight: bold;
    margin: 0 15px;
}

.BasketSimple__button {
    min-width: 80px;
}