.BasketSum {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin: 26px 103px 26px auto;
    display: flex;
    justify-content: space-between;
    max-width: 146px;
    white-space: nowrap;
}

.BasketSum-title {
    margin-right: 7px;
}