/* Корзина */
.Overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cart{
    position: absolute;
    width: 960px;
    min-height: 600px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.Cart-head{
    height: 80px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.Cart-head h1{
  margin: 0;
  padding: 20px 20px;
}
.Cart-head button{
  width: 76px;
  height: 21px;
  margin: auto 32px;
  padding-right: 10px;
  padding-left: 10px;
}
.Cart-content{
  margin: 0;
  padding: 0;
}
.Cart-content-info{
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 65px;
  padding-left: 65px;
  display: flex;
  justify-content: flex-end;
}
.Cart-content-info b{
  margin-right: 50px;
}
.Cart-content-info h2{
  margin: 25px auto;
}
