.Cart{
    min-height: unset;
    box-shadow: unset;
    width: 100%;
    height: 100%;
}
.Cart .Layout-head{
    margin-bottom: 74px;
}
.Cart-item{
    border-bottom: 1px dashed #ccc;
}
.Cart-item:first-child {
    border-top: 1px dashed #ccc;
}
.Cart-total{
    padding: 26px 108px 26px;
    font-weight: 700;
    text-align: right;
    color: #000000;
}
.Cart-total span{
    margin-right: 49px;
}