.Cart{
  max-width: 960px;
  width: 100%;
  min-height: 603px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.Cart-head{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #f5f5f5;
  margin-bottom: 74px;
}
.Cart-title{
  margin: 0;
  padding: 20px 20px 10px;
  font-size: 32px;
}
.Cart-add-button{
  width: 76px;
  height: 21px;
  align-self: center;
  margin-right: 32px;
}

.Cart-total{
  margin: 0;
  padding: 26px 108px;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
}

.Cart-price{
  padding-left: 49px;
}