.cart {
  background: white;
  border-radius: 10px;
  min-height: inherit;
  padding-bottom: 20px;
}

.cart__head {
  background: #f5f5f5;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.cart__total {
  justify-content: flex-end;
  padding: 20px;
}