.ProfileInfo {
    padding: 40px 20px 20px 20px;
    font-size: 18px;
}

.ProfileInfo-title {
    font-size: 24px;
    margin-bottom: 35px;
}

.ProfileInfo-bold {
    font-weight: bold;
}

.ProfileInfo-line {
    margin-bottom: 20px;
}
