.Card-list {
  margin: 0;
  padding: 0;
}
.Card-list-total {
  display: flex;
  justify-content: end;
  margin: 26px 108px 26px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.Card-list-total span:first-child {
  margin-right: 49px;
}
