.ItemInfo-container {
    padding: 20px 40px;
}

.ItemInfo-container * {
    margin-bottom: 20px;
}

.ItemInfo-itemInfo {
    font-weight: 700;
}

.ItemInfo-price {
    font-weight: 700;
    font-size: 24px;
}