.ItemDescription-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 40px 20px 40px;
    font-size: 18px;
}

.ItemDescription-label {

}

.ItemDescription-info {
    font-weight: bold;
}

.ItemDescription-price {
    font-weight: 700;
    font-size: 24px;
}

.ItemDescription-add {
    margin-left: 40px;
}