.container-product {
  /* height: 550px; */
  padding: 15px;
  width: 1024px;
  height: 1024px;
  left: 208px;
  top: 0px;

  background: #ffffff;
}

.description {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.country {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}

.category {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}

.year {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}

.price {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  color: #000000;
}
