.UIModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.UIModal-content {
  background-color: white;
  border-radius: 10px;
  margin: 20px 0;
  transition: 0.3s ease-out;
  transform: translateY(-200%);
}

.UIModal-inner {
  max-width: 960px;
  width: 93.75vw;
  min-width: 475px;
  border-radius: 10px;
  overflow: hidden;
}

.UIModal_media {
  overflow-y: auto;
  align-items: flex-start; 
  margin-right: -16px;
}