.CartDump {
  width: calc(100% - 40px);
  max-width: 960px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  min-width: 550px;
  transition: 0.5s;
  transform: translateY(-500%);
}

.CartDump-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  background: #E5E5E5;
  padding-left: 20px;
  padding-right: 32px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.CartDump-goods {
  overflow-y: auto;
  max-height: 62vh;
  padding-bottom: 148px;
}

.CartDump-goods_open {
  border-top: 1px dashed #CCCCCC;
}

.CartDump-headerText {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}

.CartDump-divider {
  height: 70px;
}

.CartDump-total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 108px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  gap: 49px;
  margin-top: 26px;
}