.LoginForm {
    padding: 40px 20px 20px 20px;
}

.LoginForm-title {
    font-size: 24px;
    margin-bottom: 35px;
}

.LoginForm-label {
    display: block;
    font-size: 16px;
    margin-bottom: 1px;
    padding-left: 3px;
}

.LoginForm-input {
    display: block;
    width: 203px;
    height: 26px;
    font-size: 13px;
    margin-bottom: 20px;
    padding-left: 5px;
    border: 1px solid #767676;
}

.LoginForm-button {
    display: block;
    width: 53px;
    height: 21px;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    background-color: #efefef;
    border: 1px solid #404040;
    border-radius: 2px;
    cursor: pointer;
}

.LoginForm-button:hover {
    opacity: 0.8;
}

.LoginForm-error {
    margin-bottom: 20px;
    color: #ff0000;
    font-size: 16px;
}
