.LoginForm{
    margin: 20px;
}

.LoginForm-input{
    margin: 20px 0px;
}

.LoginForm-error{
    margin: 20px;
    color: #FF0000;
}

.LoginForm-input input{
    font-size: 16px;
    padding: 2px;
}
