.LoginForm {
  padding: 20px;
}

.LoginForm input,
.LoginForm label,
.LoginForm button {
  display: block;
  font-size: 14px;
}

.LoginForm form > * + * {
  margin-top: 20px;
}

.LoginForm-error {
  color: #ff0000;
}
