/* Пункт списка */
.LoginForm {
    padding: 20px;
}

.LoginForm-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.LoginForm-input {
    padding: 2px 0 20px 0;
}

.LoginForm-error {
    padding: 10px;
    color: #FF0000;

}