.Button{
  box-sizing: border-box;
  width: 75px;
  height: 21px;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
  background-color: #EFEFEF;
  border: 1px solid #767676;
  border-radius: 2px;
  cursor: pointer;
}
.Button:hover{
  opacity: 0.8;
}
