.ItemPaginate{
    margin: 2px;
    min-width: 18px;
    min-height: 18px;
    text-align: center;
}

.Selected a{
    min-width: 18px;
    padding: 1px 5px;
    background-color: #0087E9;
    color: white;
    pointer-events: none;
}

.ItemPaginate:hover {
    background-color: #E1E1E1;
}

.Dots{
    color: #E1E1E1;
    pointer-events: none;
}

