.Menu {
    color: #0087E9;
    padding: 20px;
    font-size: 18px;
    position: absolute;
}

.Menu a{
    position: relative;
    cursor: url("../../images/cursor.svg"), pointer;
    text-decoration-line: underline;
    color: inherit;
}

.Menu a + .Menu a {
    margin-left: 5px;
}