.Profile {
    height: 100vh;
    padding: 20px;
}

.Profile-title {
    margin-bottom: 30px;
}

.Profile-text {
    margin: 20px 0;
    font-size: 18px;
}

.Profile-text_fw_bold {
    font-weight: 700;
}