.aboutItem {
  margin: 23px 40px 0px 40px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.itemInfo {
  margin-bottom: 20px;
}
.category {
  margin-bottom: 20px;
}
.price {
  margin-bottom: 20px;
}

.thisInfo {
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.price {
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 27.6px;
  letter-spacing: 0em;
  text-align: left;
}
