.language {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  width: 200px;
  height: 30px;
  top: 3.5%;
  left: 72%;
  background-color: #0087e9;
  color: white;
  align-items: center;
}
.button {
  font-size: 12px;
  cursor: pointer;
  transition: 0.1s;
}

.button:hover {
  color: rgb(220, 219, 219);
  transition: 0.1s;
}
