.ArticleComment {
  display: flex;
  flex-direction: column;
  padding: 12.5px 0;
}
.ArticleComment-head {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.ArticleComment-name {
  font-weight: 700;
  padding: 5px;
}
.ArticleComment-name__me {
  color: #666666;
}
.ArticleComment-date {
  padding: 5px;
  color: #666666;
}
.ArticleComment-text {
  padding: 5px;
  font-size: 14px;
}
.ArticleComment-reply {
  padding: 5px;
  font-size: 12px;
  color: #0087E9;
  cursor: pointer;
}
.ArticleComment-reply:hover {
  text-decoration: underline;
}