.LoginLink {
    position: absolute;
    top: -112px;
    right: 22px;
  
    padding: 1px 6px;
    background: #EFEFEF;
    border: 1px solid #767676;
    border-radius: 2px;
    text-decoration: none;
    color: #000000;
    font-size: 0.85rem;
  }
  
  .LoginLink:hover {
    background: #DEDEDE;
  }