.ModalBasic-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 900;

  align-items: center;
  overflow-y: hidden;
}

.ModalBasic-content {
  max-height: 600px;
  position: relative;
  min-width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #fff;
}

.ModalBasic-buttonClose {
  width: 76px;
  height: 21px;
  position: absolute;
  right: 32px;
  top: 31px;
  cursor: pointer;
  z-index: 2;
}

