.Form-box {
    display: flex;
    flex-direction: column;
}

.Form-item:last-child {
    margin: 19px 0 0 0;

}

.Form-item {
    display: flex;
    flex-direction: column;
}

.Form-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.Form-btn {
    margin: 20px 0 0 0;
}

.Form-err {
    display: block;
    margin: 20px 0 0 0;
    color: #FF0000;
}

.Form-label{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}