
.List-item{
    border-bottom: 1px dashed #ccc;
}

.List-item:first-child{
    border-top: 1px dashed #ccc;
}


.List-note{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.List-note{
    font-size: 24px;
}
