.ProductContent{
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}


.ProductContent-main-description{
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
}

.ProductContent-category{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ProductContent-description{
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
}

.ProductContent-price{
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 23px;
}