.CommentsBranch {
  position: relative;
  transform: translateX(-14px);
}

.CommentsBranch-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.CommentsBranch-wrapper_hidden {
  display: none;
}

.CommentsBranch-hiddenBlock {
  
}

.CommentsBranch-hide {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: red;
}

.CommentsBranch-hide_color {
  color: blueviolet;
}

.CommentsBranch-divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 28px;
}