.Article {
  padding: 0 40px;
  margin-top: -20px;
  position: relative;
}

.Article-description {
  margin: 20px 0 0 0;
  line-height: 21px;
}

.Article-specGroup {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Article-spec_value {
  font-weight: bold;
}

.Article-spec {
  margin: 20px 0;
}

.Article-spec_price {
  font-weight: bold;
  font-size: 24px;
}

.Article .Controls {
  justify-content: flex-start;
  padding: 0;
}

.MainPageLink {
  position: relative;
  top: -40px;
  left: 20px;
  font-size: 16px;
  padding: 0;
  text-decoration: none;
  border-bottom: 1px solid #0087E9;
  color: #0087E9;
}

.MainPageLink:hover {
  border-bottom: 1px solid #1c9af5;
  color: #1c9af5;
}

.errorMsg {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
}