
.Comments-item-button {
    color: #0087E9;
    border: none;
    background: none;
}

.Comments-item-link {
    color: #0087E9;
    border: none;
    background: none;
    text-decoration: underline;
}

.Comments-text {
    font-size: 16px;
}

.Comments-item-user-name {
    font-weight: 700;
    font-size: 12px;
}

.Comments-item-user-comment {
    font-size: 14px;
}

.Comments-item-date {
    color: #666666;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.Comments-item-form {
    display: flex;
    flex-direction: column;
    padding: 30px 0;

}

.Comments-item-form-header {
    font-size: 12px;
    font-weight: 700;
}

.Comments-item-form-area {
    min-height: 80px;
}

.Comments-item-form-button {
    width: 90px;
    height: 21px;
    box-sizing: border-box;
    margin: 10px 10px 0 0;
}

.Comments-item-reset-button {
    border: none;
    background: none;
    color: #666666;
    text-decoration: underline;
}