.Product {
  font-size: 18px;
  padding: 20px 40px;
}

.Product > *,
.Product-container > * {
  margin-bottom: 20px;
}

.Product-subtitle span:last-child {
  font-weight: 700;
}

.Product-price {
  font-size: 24px;
  font-weight: 700;
}