
.ItemPage {
    max-width: 943px;
    margin: 0 auto;
    margin-top: 41px;
}

.ItemPage p {
    font-size: 18px;
}

.ItemPage-item {
    margin-top: 21px;
}

.ItemPage-price {
    font-size: 24px;
    font-weight: 700;
}

.ItemPage-button-wrapper {
    display: flex;
    justify-content: flex-start;
}

.ItemPage-button-wrapper div {
    padding-left: 0;
}
