.Cart-counter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
    padding: 20px;
}

.Cart-counter-info {
    display: flex;
    gap: 15px;

}

.Cart-counter-title {
    font-size: 18px;
    line-height: 21px;
}

.Cart-counter-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.Cart-counter-button {
}

