.Overflow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
}

.Overflow * {
  box-sizing: border-box;
}

.Popup {
  margin: 200px auto;
  width: 960px;
  min-height: 600px;
  background-color: #fff;
  border-radius: 10px;
}

.Popup-head {
  height: 80px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 28px 32px 20px;
  border-radius: 10px 10px 0 0;
}

.Popup-content {
  min-height: 520px;
  padding: 74px 0 0 0;
}
