/* Контрол с общими действиями */
.BasketSimple {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}

.BasketSimple-label {
}

.BasketSimple__toMain {
    color: #0087e9;
}

.BasketSimple-right {
    display: flex;
    justify-content: flex-end;
}

.BasketSimple-total {
    font-weight: bold;
    margin: 0 15px;
}

.BasketSimple-button {
    display: block;
    width: 80px;
    height: 21px;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    background-color: #efefef;
    border: 1px solid #404040;
    border-radius: 2px;
    cursor: pointer;
}

.BasketSimple-button:hover {
    opacity: 0.8;
}
