/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 18px;
}

.BasketSimple-label{

}

.BasketSimple-total{
    font-weight: bold;
    margin: 0 15px;
}

.BasketSimple-link{
    position: absolute;
    margin-right: 914px;
}
