/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}


.BasketSimple-main a{
    color: #0087E9;
}


.BasketSimple-total{
    font-weight: bold;
    margin-left: 15px;
}

