/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 18px;
}

.BasketSimple-total{
    font-weight: bold;
    margin: 0 14px 0 15px;
}

.BasketSimple__button {
    width: 80px;
}