/* Контрол с общими действиями */
.BasketSimple {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.BasketSimple-label {
}

.BasketSimple-link {
  color: #0087e9;
}

.BasketSimple-link:hover {
  color: #0095ff;
}

.BasketSimple-total {
  font-weight: bold;
  margin: 0 15px;
}
