/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 20px;
    font-size: 18px;
}

.BasketSimple a {
    color: rgba(0, 135, 233, 1);
}

.BasketSimple-label{

}

.BasketSimple-total{
    font-weight: bold;
    margin: 0 15px;
}
