/* Контрол с общими действиями */
.BasketSimple {
  display: flex;
  padding: 20px;
  font-size: 18px;
}

.BasketSimple-label {
}

.BasketSimple-total {
  font-weight: bold;
  margin: 0 15px;
}

.BasketSimple-home-link {
  margin-right: auto;
}
.BasketSimple-home-link > a:link,
.BasketSimple-home-link > a:visited {
  color: #0087e9;
}
