/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}

.BasketSimple-main{

}


.BasketSimple-label{

}

.BasketSimple-total{
    font-weight: bold;
    margin: 0 15px;
}

.BasketSimple__button {
    padding: 1px 11px;
}
