/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}

.BasketSimple-label{

}

.BasketSimple-total{
    font-weight: bold;
    margin: 0 15px;
}

.homeLink {
   color: #0087E9;
}