.CommentsByCommentForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.CommentsByCommentForm textarea {
    min-height: 80px;
    margin-top: 10px;
}

.CommentsByCommentForm-button {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color:  #0087E9;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 10px;
}

.CommentsByCommentForm p strong {
    font-size: 12px;
 
}


.CommentsByCommentForm-buttons {
    display: flex;
    margin-top: 10px;
}
.CommentsByCommentForm-buttons button:last-child {
    margin-left: 10px;
}
