.CommentsCard {
    width: 100%;
    height: 1000%;
    padding: 40px;
    box-sizing: border-box;
}
.CommentsCard-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: lighter;
}