.CommentsList {
	padding: 30px 35px 60px 35px;
}
.CommentsList-title {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 25px;
}
.CommentsList-items {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	margin-bottom: 30px;
}
