.Comments {
  padding: 31px 0px;
  padding-bottom: 121px;
}

.Comments-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 25px 40px 0px 40px;
  gap: 30px;
}

.Comments-title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  padding: 0 40px;
}

.Comments-link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-self: flex-start;
}

.Comments-login {
  color: #0087e9;
  text-decoration: none;
  border-bottom: 1px solid;
}
