.ProductCard {
    padding: 43px 40px;

}

.ProductCard-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ProductCard-description {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
}

.ProductCard-info {
    font-size: 18px;
    line-height: 21px;
}

.ProductCard-price {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.ProductCard-button {
    align-self: flex-start;
}


