body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: Arial, sans-serif;
}
/* Страница*/
.Layout {
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
}

.Layout__head {
  height: 80px;
  background: #f5f5f5;
}

.Layout__head h1,
.Layout__head h2 {
  margin: 0;
  padding: 20px 20px 10px;
  font-size: 32px;
  font-weight: 700;
}
