body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  background: #535353;
  font-family: sans-serif;
  position: relative;
}
/* Страница*/

h1 {
  font-size: 32px;
  line-height: 37px;
}

button {
  height: 21px;
  width: 80px;
  padding: 0 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Layout {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
}

.Layout-head {
  height: 80px;
  background: #f5f5f5;
}

.Layout-head h1 {
  margin: 0;
  padding: 20px 20px 10px;
}

.Layout-modal {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.Layout-modal_onModal {
  opacity: 1;
  pointer-events: visible;
}
