body{
    margin: 0;
    padding: 0;
    background: #535353;
    font-family: sans-serif;
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}
/* Страница*/
.Layout{
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 15px 5px #0000003b;
}
.Layout-head{
    height: 80px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 0 20px;
}
.Layout-head h1{
    margin: 0;
}
.Layout-button{
    height: 21px;
}