.Comment {
  font-size: 12px;
}

.Comment-text {
  font-size: 14px;
}

.Comment-author {
  font-weight: 700;
}

.Comment-date {
  margin-left: 10px;
  color: #666666;
}

.Comment_lvl_1 {
  padding-left: 20px;
}

.Comment_lvl_2 {
  padding-left: 40px;
}

.Comment_lvl_3 {
  padding-left: 60px;
}

.Comment_lvl_4 {
  padding-left: 80px;
}

.Comment_lvl_5 {
  padding-left: 100px;
}
