.Comment {
  font-size: 12px;
  line-height: 16px;
}

.Comment-header {
  display: flex;
  gap: 10px;
}

.Comment-username {
  font-weight: 700;
}

.Comment-time {
  font-weight: 400;
  color: #666666;
}

.Comment-text {
  font-size: 14px;
}

.Comment-answer {
  color: #0087E9;
  cursor: pointer;
}

.Comment-answer:hover {
  text-decoration: underline;
}