.basket {
  width: 60rem;
  min-height: 37.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-cover {
  position: fixed;
  inset: 0;
  visibility: hidden;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
}

.show-modal {
  visibility: visible;
  z-index: auto;
}
