.dark-background-hidden {
  display: none;
}

.dark-background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.Basket {
  position: relative;
  width: 960px;
  height: 603px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
}

.Basket strong {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  left: 75%;
  size: 18px;
  font-weight: 700;
}

.Basket-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #f5f5f5;
  padding: 20px;
}

.Basket-head h2 {
  font-size: 35px;
  margin: 0;
}

.Basket-body {
  position: relative;
  padding: 70px 20px;
  display: flex;
}
