.Card{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Card__nodisplay{
    display: none;
}

/*если товаров больше 7, то не помещается Итого, 
по согласованию изменил height на min-height*/
.Card-content{
    min-height: 603px;
    width: 960px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Card-head{
    width: 100%;
    height: 80px;
    margin: 0 0 74px 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Card-name{
    width: 131px;
    height: 37px;
    margin: 20px 0 0 20px;
    padding: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #000;
}

.Card-close{
    height: 21px;
    width: 76px;
    margin: 31px 32px 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000;
}

/*по согласованию сделал плавающее отображение "Итого",
что бы хорошо смотрелось при цифре больше 6 знаков */
.Card-total{
    margin: 0 104px;
    padding: 20px 10px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
}

.Card-total > p{
    margin: 0 0 0 10px;
    padding: 0;
    min-width: 76px;
    text-align: end;
}