/* Пункт списка */
.Item{
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
}

.Item-title{
    width: 100%;
    padding: 20px 10px;
}
.Item-actions{
    padding: 20px  20px 20px 10px;
    display: flex;
    justify-content: flex-end;
}
.Item-number{
    padding: 20px 10px 20px 20px;
}
.Item-price {    
    white-space: nowrap;
    align-self: center;
    font-size: 18px;
}

.Item-actions button{
    padding: 0 8px;
    font-size: 13px;
}