/* Пункт списка */
.Item{
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
}
.Item_selected{
    background: #75aaf1;
}


.Item-info{
    width: 100%;
    padding: 20px 10px;
    font-family: Arial,serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.Item-price{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;

}
.Item-actions{
    padding: 20px  20px 20px 10px;
    display: flex;
    justify-content: flex-end;
}
.Item-number{
    padding: 20px 10px 20px 20px;
}