/* Пункт списка */
.Item{
    display: flex;
    justify-content: flex-start;
}

.Item-title{
    width: 80%;
    padding: 20px 10px;
}
.Item-actions{
    padding: 20px  20px 20px 10px;
    display: flex;
    justify-content: flex-end;
}
.Item-number{
    padding: 20px 10px 20px 20px;
}
.Item-price{
    width: max-content;
    margin-right: 25px;
    font-size: 18px;
}
.Item-quantity{
    width: max-content;
    margin: 0 25px;
    font-size: 18px;
}
