/* Пункт списка */
.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}
.Item_selected {
  background: #75aaf1;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-price {
  padding: 20px 14px 20px 0;
  white-space: nowrap;
}

.Item-count {
  padding: 20px 14px 20px 48px;
  white-space: nowrap;
}

.Item-actions {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: flex-end;
}

.Item-number {
  padding: 20px 10px 20px 20px;
}
