/* Пункт списка */
.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-price {
  width: 100%;
  padding: 20px 10px;
  text-align: end;
}

.Item-total {
  padding: 20px 8px;
  text-align: end;
  min-width: 45px;
}
.Item-actions {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: flex-end;
}

.Item-number {
  padding: 20px 10px 20px 20px;
}
