/* Пункт списка */
.Item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 1s;

    border-bottom: 1px dashed #ccc;
}

.Item:first-child{
    border-top: 1px dashed #ccc;
}

.Item_selected{
    background: #75aaf1;
}

.Item-title{
    padding: 20px 10px;
}

.Item-price{
    margin-left: auto;
    padding: 20px 10px;    
}

.Item-actions{
    padding: 20px  20px 20px 10px;
    display: flex;
    justify-content: flex-end;
}

.Item-number{
    padding: 20px 10px 20px 20px;
}
