/* Пункт списка */
.Item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 1s;
}

.Item-title {
    width: 100%;
    padding: 20px 10px;
}

.Item-actions {
    padding: 20px 20px 20px 10px;
    display: flex;
    justify-content: flex-end;
}

.Item-actions button{
    width: 76px;
}

.Item-number {
    padding: 20px 10px 20px 20px;
}

.Item-price {
    padding: 20px 14px 20px 20px;
    white-space: nowrap;
}

.Item-amount {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 14px;
    margin-left: 48px;
}
