/* Пункт списка */
.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}
.Item_selected {
  background: #75aaf1;
}

.Item-title {
  padding: 20px 10px;
}

.Item-price {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Item-action {
  margin: 20px 20px 20px 0;
}
.Item-number {
  padding: 20px 10px 20px 20px;
}
