/* Пункт списка товаров в магазине */
.Item{
    display: flex;
    justify-content: flex-start;
    height: 61px;
}
.Item-title{
    width: 100%;
    padding: 20px 10px;
}
.Item-actions{
    padding: 21px 21px 19px 24px;
   
}
.Item-actions button{
    box-sizing: border-box;
    width: 76px;
    height: 21px; 
}
.Item-number{
    padding: 20px 10px 20px 20px;
}
.Item-price{
    padding: 20px 0 20px 20px;
    width: 100%;
    text-align: end;
    font-size: 18px;
}
