.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Item-title {
  justify-self: flex-start;
  flex-grow: 1;
}

.Item-price {
  justify-self: flex-end;
}

.Item-count {
  min-width: 70px;
  text-align: end;
}

.Item-price, .Item-count, .Item-title {
  padding-left: 10px;
  padding-right: 10px;
}

.Item-number {
  padding-left: 20px;
  padding-right: 10px;
}
.Item-actions {
  padding-left: 10px;
  padding-right: 20px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
}
