.PermissionComment{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-top: 30px;
}

.PermissionComment-signIn{
  color: #0087E9;
  text-decoration-line: underline;
  cursor: pointer;
}

.PermissionComment-cancel{
  color: #666666;
  text-decoration-line: underline;
  cursor: pointer;
}