/* Пункт списка */
.Item{
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
    border-bottom:'1px dashed #CCCCCC';
}

.Item{
  border-bottom: 1px dashed #ccc;
}

.Item:first-child{
  border-top: 1px dashed #ccc;
}

.Item-title{
    width: 100%;
    padding: 20px 10px;
}

.Item-price{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #404040;
  padding: 20px 10px;
  white-space: nowrap;
}

.Item-actions{
    padding: 20px  20px 20px 10px;
    display: flex;
    justify-content: flex-end;
}
.Item-number{
    padding: 20px 10px 20px 20px;
}
