.myModal{
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5)
}

.myModalContent{
  padding: 25px;
  background: white;
  border-radius: 16px;
  width: 960px;
  height:600px;
}
.myModal-active{
  display: flex;
  justify-content: center;
  align-items: center;
}