.CommentItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 30px;
  overflow-wrap: anywhere;
}

.CommentItem-head {
  display: flex;
  gap: 10px;
  font-size: 12px;
  line-height: 14px;
}

.CommentItem-user {
  font-weight: 700;
  color: #000000;
}

.CommentItem-date {
  font-weight: 400;
  color: #666666;
}
.CommentItem-text {
}

.CommentItem-actions {
  background: transparent;
  border: none;
  padding: 0;
  color: #0087e9;
  font-size: 12px;
  line-height: 14px;
}

.CommentItem-actions:hover {
  cursor: pointer;
  text-decoration: underline;
}
