.LayoutModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  padding: 0 10px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LayoutModal-frame {
  position: relative;
  background: #ffffff;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  max-width: 720px;
  box-shadow: 2px 5px 10px rgb(0 0 0 / 5%);
  min-width: 960px;
}

.LayoutModal-head {
  height: 80px;
  background: #f5f5f5;
  display: flex;
  /*align-items: stretch;*/
  justify-content: space-between;
  padding: 0 30px 0 20px;
}

.LayoutModal-close{
  align-self: center;
}

.LayoutModal-title{
  margin: 0;
  padding: 20px 0 10px;
}

.LayoutModal-content {
  min-height: 100px;
  padding: 70px 0;
}
