
.LayoutModal {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7); 
  box-shadow: 0px,4px,4px,rgba(0, 0, 0, 0.25); 
  z-index: 9999;
  padding: 0 10px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LayoutModal-overlay {
  top: 240px;
  left: 211px;
  width: 960px;
  height: 603px;
  background: #fff;
  border-radius: 10px;  
}
.LayoutModal-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  background: #f5f5f5;
  border-radius: 10px;
}
.LayoutModal-head h1{
  align-self: center;
  margin-left: 20px;
  /* margin: 0;
  padding: 20px 20px 10px; */
}
.LayoutModal-close { 
  align-self: center;
  margin-right: 31px;
}