body{
    margin: 0;
    padding: 0;
    background: #535353;
    font-family: sans-serif;
}
/* Страница*/
.LayoutModal{
    max-width: 1024px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 15px 5px #0000003b;
}
.LayoutModal-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 61px;
    height: 80px;
    background: #f5f5f5;
}
.LayoutModal-head h1{
    margin: 0;
    padding: 20px 20px;
}

.LayoutModal-head button {
    margin-right: 20px;
}

.LayoutModal-content h2 {
    text-align: center;
}