/* Контрол с общими действиями */
.Controls{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 18px;
}
.Controls button{
    width: 80px;
}
.Controls-cart{
    font-weight: 700;
    padding-right: 20px;
    padding-left: 15px;
}
