/* Контрол с общими действиями */
.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  color: #000000;
}

.Controls-cart {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-right: 15px;
}

.Controls-count {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-right: 20px;
  white-space: nowrap;
}

.Controls-button {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  background: #efefef;
  border: 1px solid #767676;
  height: 21px;
  width: 80px;
  left: 0px;
  top: 0px;
  border-radius: 2px;

  border-radius: 2px;
}
