/* Контрол с общими действиями */
.Controls{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Controls-info{
    font-weight: 700;
    margin-left: 15px;
}

.Controls-actions{
    width: 76px;
    padding: 20px 20px 20px 24px;
    display: flex;
}
.Controls-actions button {
    width: 100%;
}