/* Контрол с общими действиями */
.Controls{
    display: flex;
    justify-content: flex-end;
    min-height: 22px;
    padding: 20px;
}
.Controls button{
    width: 80px;
    height: 21px;;
    padding-right: 10px;
    padding-left: 10px;
}
.Controls-info{
    padding-right: 20px;
}
.Controls-info b{
    padding-left: 10px;
}
