/* Пункт списка */
.ItemBasket {
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
    padding-left: 10px;
}

.ItemBasket-id {
    padding: 20px 10px 20px 20px;
}

.ItemBasket-title {
    width: 100%;
    padding: 20px 10px;
}

.ItemBasket-right {
    padding: 20px 20px 20px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ItemBasket-cell {
    min-width: 95px;
    text-align: right;
    font-size: 18px;
    white-space: nowrap;
}

.ItemBasket-button{
    width: 76px;
    height: 21px;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    background-color: #EFEFEF;
    border: 1px solid #404040;
    border-radius: 2px;
    cursor: pointer;
}
.ItemBasket-button:hover{
    opacity: 0.8;
}

