/* Пункт списка */
.ItemBasket {
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
    padding-left: 10px;
}

.ItemBasket-id {
    padding: 20px 10px 20px 20px;
}

.ItemBasket-title {
    width: 100%;
    padding: 20px 10px;
}

.ItemBasket-right {
    padding: 20px 20px 20px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ItemBasket-cell {
    min-width: 95px;
    text-align: right;
    font-size: 18px;
    white-space: nowrap;
}

.ItemBasket-title a {
    text-decoration: none;
    color: inherit;
    cursor: url("../../images/cursor.svg"), pointer;
    position: relative;
}

.ItemBasket-title a:after {
    opacity: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.ItemBasket-title a:hover:after {
    opacity: 1;
}