
.Modal-cross{
    max-width: 960px;
    background: #fff;
    width: 100%;
    border-radius: 10px;
    overflow: auto;
    min-height: 603px;
   }

.Modal-head{
    display: flex;
    background: #f5f5f5;
    justify-content: space-between;
    border-radius: inherit;
    padding: 0px 10px 0px 20px;
    margin: 0px 0px 60px 0px;
}
.Modal-action{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 75px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

}
.Modal-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .8);
    transform: scale(0);

}
.Modal-overlay_active{
    transform: scale(1) ;
}
