* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.Modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex; 
    padding: 30px 0px;
    justify-content: center;
    align-items: center;

    /* overflow-y: scroll; */
}

.Modal-content {
    width: 960px;
    min-height: 603px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     */
}

.Modal-header {
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 70px;
}

.Modal-header h2 {
    padding: 20px;
    font-family: Arial;
    font-weight: 700;
    font-size: 32px;
    margin: 0
}

.Modal-header button {
    margin: auto 32px;
}

.Modal-total {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: end;
    margin: 26px 108px 26px 0;
    
}

.Modal-total-title {
    margin-right: 50px;
}