.Modal{
    display: grid;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
    overflow-y: auto;
}

.Modal_opened{
    opacity: 1;
    visibility: visible;
}

.Modal-container{
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    max-width: 960px;
    width: 100%;
    min-height: 600px;
    height: max-content;
    overflow: hidden;
}


.Modal-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #f5f5f5;
}
.Modal-head h2{
    margin: 0;
    padding-left: 20px;
}
.Modal-head button{
    height: max-content;
    margin-right: 32px;
}
