.Modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  display: flex;

}

.Modal > .Layout {
  flex: 0 1 960px;
  min-height: 58vh;
  height: 58vh;
  align-self: center;
  overflow-y: auto;
  border-radius: 5px;
}