.Modal-wrapper{
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  transition: 
		transform 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946), 
		opacity 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	pointer-events: auto;
	opacity: 1;
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
.Modal-wrapper_hide{
  transform: scale(1.15);
	opacity: 0;
	visibility: hidden;
	transition: 
		transform 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946), 
		visibility 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946), 
		opacity 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	pointer-events: none;
}
.Modal{
  position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  max-width: 960px;
  height: 603px; 
	box-sizing: border-box;
  background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	z-index: 999;
}
.Modal-header{
  display: flex;
  justify-content: space-between;
	align-items: center;
  height: 80px;
	padding: 0 32px 0 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #f5f5f5;
}
.Modal-title{
	font-size: 32px;
}
.Modal-content{
	margin-top: 74px;
}

