/* Модальное окно */
.Modal{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(0);
}

.Modal.active{
    transform: scale(1);
}
.Modal-content{
    box-sizing: border-box;
    height: 603px;
    width: 960px;
    padding-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Modal-head{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: auto;
    padding-left: 20px;
    padding-right: 32px;
    margin-bottom: 74px;
    background-color: #F5F5F5;
    border-radius: 10px 10px 0 0;
}
.Modal-title{
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}
.Modal-close{
    padding: 0;
    width: 76px;
    height: 21px;
    font-weight: 400;
    font-size: 13px;
    background-color: #EFEFEF;
    border: 1px solid #404040;
    border-radius: 2px;
    cursor: pointer;
}
.Modal-close:hover{
    opacity: 0.8;
}
