.modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 80px 5%;
  overflow-y: auto;
}

.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 960px;
  min-height: max(480px, 100%);
  margin: 0 auto;
}
