.Modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.Modal-content {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 924px;
  min-height: 603px;
}

.Modal-head {
  border-radius: 10px 10px 0px 0px;
  background: #f5f5f5;
  margin: 0;
  padding: 20px 20px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 74px;
}

.Modal-head h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  margin: 0;
}

.Modal-button {
  width: 76px;
  height: 21px;
  font-size: 13px;
  line-height: 15px;
}

.Modal_hidden {
  transform: scale(0);
}

.Modal-details {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  width: 83%;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.Modal-total {
  margin-right: 50px;
}

.Modal-empty {
  font-size: 40px;
  text-align: center;
}
