.Modal{
    /* opacity: 0;     */
    display: none;
    /* transition: 0.5s; */
}

.Modal-active{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.Modal-content{
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    min-width: 960px;
    min-height: 603px;
    margin: 0 auto;
}

.Modal-setActive{
    width: 76px;
    height: 21px;
    margin: 30px;
}

.Modal-head{
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background: #F5F5F5;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.Modal-head h1{
    display: inline-block;
    margin: 20px;
}

.Modal-footer{
    text-align-last: end;
}

.Modal-total{
    display: inline-block;
    margin-top: 25px;
    margin-right: 49px;

}

.Modal-price{
    display: inline-block;
    margin-top: 26px;
    margin-right: 108px;

}