.LayoutFlex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
.LayoutFlex_flex_start {
  justify-content: flex-start;
}

.LayoutFlex_padding {
  padding: 20px 20px;
}

.LayoutFlex_flex_end {
  justify-content: flex-end;
}

.LayoutFlex_flex_between {
  justify-content: space-between;
}

.LayoutFlex-item {
  margin: 0 5px;
}

.LayoutFlex_flex_with-gap {
  gap: 20px;
}

.LayoutFlex_direction_row {
  flex-direction: row;
}

.LayoutFlex_direction_column {
  flex-direction: column;
}

.LayoutFlex_align_center {
  align-items: center;
}

.LayoutFlex_align_start {
  align-items: flex-start;
}
.LayoutFlex_align_end {
  align-items: flex-end;
}
