.BasketTotal {
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
    margin-right: 115px; 
}

.BasketTotal-total, .BasketTotal-title {
    font-weight: bold;
    font-size: 18px;
}
.BasketTotal-total{
   margin-left: 49px;
}

