/* Пункт списка */
.BasketTotal {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 10px;
    align-items: center;
}

.BasketTotal-cell {
    min-width: 95px;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
    font-weight: bold;
}
.BasketTotal-cell:first-letter {
    text-transform: uppercase;
}
