.CommentList {
    margin: 0 40px;
}

.CommentList-title {
    margin: 30px 0 25px 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}