.ModalLayout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-height: calc(748px + 80px)) {
  .ModalLayout {
    overflow-y: auto;
    align-items: flex-start;
  }
}