.Comments-wrapper {
    padding: 30px 40px;
    margin: 0;
}

.Comments-wrapper-header {
    font-size: 24px;
    margin: 0 0 30px 0;
}

.Comments-wrapper-link {
    color: #0087E9;
    border: none;
    background: none;
    text-decoration: underline;
}

.Comments-wrapper-text {
    font-size: 16px;
}

.Comments-wrapper-form {
    display: flex;
    flex-direction: column;
    padding: 30px 40px 30px 0;
}

.Comments-wrapper-form-header {
    font-size: 12px;
    font-weight: 700;
}

.Comments-wrapper-form-area {
    width: 100%;
    min-height: 76px;
    box-sizing: border-box;
    margin: 0 0 10px 0;
}

.Comments-wrapper-form-button {
    width: 90px;
    height: 21px;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
