:root {
	--height: 32px;
}

.LangSwitcher {
	position: relative;
	display: inline-block;
	width: calc(var(--height) * 2);
	height: var(--height);
}

.LangSwitcher input {
	opacity: 0;
	width: 0;
	height: 0;
}

.select-ru,
.select-en {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	top: calc(var(--height) / 3.4);
	cursor: pointer;
}

.select-ru {
	left: calc(var(--height) / 4.6);
}

.select-en {
	right: calc(var(--height) / 4.3);
}

input:checked ~ .select-ru {
	color: white;
}

input:not(:checked) ~ .select-en {
	color: white;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0087E9;
	transition: 0.2s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 28px;
	width: 28px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: 0.2s;
}

input:checked + .slider:before {
	transform: translateX(var(--height));
}

.slider.round, .slider.round:before {
	border-radius: var(--height);
}