.Description{
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 15px 5px #0000003b;
}
.Description-head{
    height: 80px;
    background: #f5f5f5;
}
.Description-head h1{
    margin: 0;
    padding: 20px 20px 10px;
}
.Description-content{
    padding: 0px 40px;
}
.Description-string{
    margin: 20px 0px 20px;
    font-size: 18px;
}