.TextArea {
  font-size: 16px;
  padding: 2px;
  box-sizing: border-box;
}

.TextArea_theme_big {
  width: 300px;
}

.TextArea_theme_wide {
  display: block;
  /* min-width: 600px; */
  width: 100%;
  padding-bottom: 75px;
  overflow: auto;
}
