.List__item{
    border-bottom: 1px dashed #ccc;
}

.List__item:first-child{
    border-top: 1px dashed #ccc;
}

/* Пункт списка */
.Item{
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
}
.Item_selected{
    background: #75aaf1;
}

.Item__title{
    width: 100%;
    padding: 20px 10px;
}
.Item__actions{
    padding: 20px  20px 20px 10px;
    display: flex;
    justify-content: flex-end;
}
.Item__number{
    padding: 20px 10px 20px 20px;
}