.Content-modal {
  padding-top: 74px;
}

.summary {
  display: flex;
  justify-content: flex-end;
  padding: 25px 108px;
  font-size: 18px;
  font-weight: 700;
}

.summary span:first-child {
  margin-right: 50px;
}