/**
    Пагинация
 */
.ListPagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
}

.ListPagination-number {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 16px;
    cursor: pointer;
    line-height: 20px;
}

.ListPagination-number_active {
    background-color: #0087E9;
    color: white;
}