.Basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Basket-item-title {
  justify-self: flex-start;
  flex-grow: 1;
}

.Basket-item-price {
  justify-self: flex-end;
}

.Basket-item-count {
  min-width: 70px;
  text-align: end;
}

.Basket-item-price, .Basket-item-count, .Basket-item-title {
  padding-left: 10px;
  padding-right: 10px;
}

.Basket-item-number {
  padding-left: 20px;
  padding-right: 10px;
}

.Basket-item-actions {
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}
