.BasketItem {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  padding: 20px;
}
.BasketItem-title {
  width: 100%;
}
.BasketItem-actions {
  display: flex;
  justify-content: flex-end;
}
.BasketItem-total,
.BasketItem-count {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #404040;
}
.BasketItem-total {
  margin-right: 55px;

}
.BasketItem-count {
  display: flex;
  margin-right: 23px;
}
.BasketItem-count:not(:last-child) span {
  margin-right: 5px;
}
.BasketItem-number {
  margin-right: 18px;
}
