.ItemPagination {
    padding: 10px;
    cursor: pointer;
}

.ItemPagination_selected {
    color: #ffffff;
    background: #0087e9;
}

.ItemPagination:hover {
    color: #000000;
    background: #e1e1e1;
}