.LoginWarning{
  font-size: 16px;
}

.LoginWarning-cancel{
  color: #666666;
  border-bottom: 1px solid #666666;
  cursor: pointer;
}

.LoginWarning-link{
  color: #0087E9;
  text-decoration: none;
  border-bottom: 1px solid #0087E9;
}