.Login{
    min-height: 41px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #FFFFFF;

}
.Login button{
    align-items: center;
    text-align: center;
    margin-right: 10px;
}
.Login a {
    margin-right: 20px;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
}