.Page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 18px;
	height: 18px;
	cursor: pointer;
	padding: 1px;
}
.Page:hover {
	background-color: #e1e1e1;
}
.Page_active {
	background-color: #0087e9;
	color: #ffffff;
}
.Page_active:hover {
	background-color: #0087e9;
}
