.product_page {
    width: 90%;
    margin: 0 auto;
}

.product_page span {
    font-weight: bold;
}

.product_page p:nth-child(5) {
    font-size: 20px;
}

.product_page-loader {
    width: 100%;
    min-height: 300px;
    
}
.product_page-loader div:first-child {
    height: 70px;
}
.product_page-loader div {
    width: 90%;
    height: 30px;
    margin: 20px;
    /* background: rgb(148, 148, 148); */
    background: linear-gradient(0.25turn, rgb(148, 148, 148),  rgb(230, 229, 229));
    animation: loadAnim 1s ease-in-out infinite;
}
/* 
@keyframes loadAnim {
    from {background: linear-gradient( 0.25turn, rgb(148, 148, 148),  rgb(230, 229, 229))}
    to {background: linear-gradient( 0.25turn, rgb(230, 229, 229),  rgb(148, 148, 148))}
} */


@keyframes loadAnim {
    0% {background: rgb(230, 229, 229)}
    50% {background:  rgb(187, 187, 187)}
    100% {background:  rgb(230, 229, 229)}
}