.Comments {
  padding: 0 34px 40px 34px;
}

.Comments-header {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.Comments-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Comments-form {
  margin-top: 30px;
}

.Comments-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Comments-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.Comments-textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  min-height: 76px;
}

.Comments-submit {
  margin-top: 10px;
  cursor: pointer; 
  padding: 1px 10px;
}

.Comments-bottom {
  margin-top: 30px;
}