.Login{
    padding: 42px 20px 20px 20px;
}

.Login-login{
    padding: 17px 0 19px 0;
    
}

.Login-password{
    padding-bottom: 20px;
}

.Login-error{
    padding-bottom: 19px;
    color: #FF0000;
}

.Login-entry h2{
    margin: 0;
}

.Login input{
    width: 203px;
    height: 26px;
    font-size: 16px;   
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
