.CommentCard {
}

.CommentCard-info,
.CommentCard-content,
.CommentCard-cta {
  margin-top: 10px;
}

.CommentCard-info {
  display: flex;
  align-items: center;
}
.CommentCard-author {
  margin-right: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
.CommentCard-date {
  color: #666666;
  font-size: 12px;
  line-height: 14px;
}

.CommentCard-cta > button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: 12px;
  font-style: inherit;
  font-weight: inherit;
  line-height: 14px;
  color: #0087e9;
  padding: 0;
  cursor: pointer;
}
