.CommentCard {
  margin-top: 30px;
}
/* TODO: разметить отступ в контейнере, а не в компоненте */
.CommentCard > * + * {
  margin-top: 10px;
}

.CommentCard-info {
  display: flex;
}
.CommentCard-author {
  margin-right: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
.CommentCard-date {
  color: #666666;
  font-size: 12px;
  line-height: 14px;
}
.CommentCard-content {
}
.CommentCard-cta {
}
.CommentCard-cta > button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: 12px;
  font-style: inherit;
  font-weight: inherit;
  line-height: 14px;
  color: #0087e9;
  padding: 0;
  cursor: pointer;
}
