.Breadcrumbs {
    cursor: url("../../images/cursor.svg"), pointer;
    color: #0087E9;
    padding: 20px;
    font-size: 18px;
    position: absolute;
}

.Breadcrumbs-link {
    text-decoration-line: underline;
    color: inherit;
}