.comments h2,
.comments p {
  margin: 0;
}

.comments a {
  color: dodgerblue;
}

.comments {
  padding: 20px 35px 140px;
}

.comments__list {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  row-gap: 25px;
  list-style: none;
  padding: 0;
}

.comment-item + * {
  margin-top: 12px;
}
