.FormInput {
    padding: 18px 0 0;
    position: relative;
    margin-bottom: 20px;
}
.FormInput input {
    padding: 2px 2px 4px;
    background-color: #FFFFFF;
    border: 1px solid #767676;
    border-radius: 1px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 18px;
}
.FormInput label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 18px;
}