/*Список корзины*/
.CartList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.CartList-item {
  border-bottom: 1px dashed #ccc;
}
.CartList-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  align-self: center;
}
.CartList-item:first-child {
  border-top: 1px dashed #ccc;
}
