body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: sans-serif;
}
/* Страница*/
.App {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
}
.App__head {
  height: 80px;
  background: #f5f5f5;
}
.App__head h1 {
  margin: 0;
  padding: 20px 20px 10px;
}
