.Cart-item{
    display: flex;
    align-items: center;
}

.Cart-item-number{
    padding: 20px 10px 20px 20px;
}

.Cart-item-title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px;
}

.Cart-item-actions{
    padding:  1px 10px;
    margin: 0px 20px 0px 20px;
}

.Cart-item-price {
    padding: 20px 40px 20px 20px;
}

.Cart-item-count {
    min-width: 60px;
    padding: 20px 10px 20px 20px;
}