.FormEntry-entry{
    font-size: 16px;
    padding-top: 30px;
    display: inline-block;
}

.FormEntry-entry span{
    cursor: pointer;
    color: #0087E9;
    border-bottom: 2px solid #0087E9;
    font-size: 16px;
    line-height: 18.4px; 
}

.FormEntry button{
    border: none;
    background: white;
    color: #666666;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}
